#iconMenu{
    display: none;
    @include telefono{
        display: grid;
    }
    width: 3rem;
    height: 3rem;
    align-content: center;
    justify-items: center;
    gap: .8rem;
    cursor: pointer;
    @include telefono{
        width: 2rem;
        height: 2rem;
        gap: .8rem;
    }
    span{
        width: 3rem;
        height: .2rem;
        background-color: $principal;
        border-radius: .4rem;
        transition: all .8s ease;
        &.linea1.close{
            transform: rotateZ(40deg) translateX(1.4rem);
        }
        &.linea3.close{
            transform: rotateZ(-40deg) translateX(1.4rem);
        }
        &.linea2.close{
            width: 0;
            height: 0;
        }
    }
}