.shopping-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $negro;
    opacity: .7;
    z-index: 7;
}

.shoppingCart{
    position: fixed;
    height: 100vh;
    background-color: $negro;
    top: 0;
    left: 70%;
    width: 30%;
    z-index: 9;
    padding: 2rem;
    padding-top: 8rem;
    transition: all 1s;
    overflow-y: scroll;
    @include telefono{
        width: 50%;
    }
    
    &::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
	background-color: $principal;
    }
    &.visible{
        left: 70%;
        animation: slide 1s ease;
        @include telefono{
            animation: slideMovile 1s ease;
            left: 50%;
        }
    }
    &.oculto{
        left: 120%;
        animation: slide 1s ease reverse;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        img{
            width: 2rem;
            cursor: pointer;
        }
        h2{
            font-size: 3.5rem;
            text-transform: uppercase;
            color: $negro;
            text-shadow: -1px -1px 0 $principal, 1px -1px 0 $principal, -1px 1px 0 $principal, 1px 1px 0 $principal;
        }
        @include telefono{
            img{
                width: 1.2rem;
            }
            h2{
                font-size: 2rem;
            }
        }
    }
    .items-container{
        display: grid;
        align-content: center;
        gap: 1rem;
    }
    .item{
        border: 1px solid $principal;
        border-radius: 1rem;
        padding: 1rem;
        .item-title{
            display: flex;
            align-items: center;
            gap: 1rem;
            h3{
                font-size: 2rem;
                text-transform: uppercase;
                margin: 0;
            }
            img{
                width: 2.5rem;
                cursor: pointer;
            }
        }
        .item-icons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                text-transform: uppercase;
            }
        }
        @include telefono{
            .item-title{
                gap: .5rem;
                h3{
                    font-size: 1.5rem;
                }
                img{
                    width: 1.8rem;
                }
            }
            .item-icons{
                img{
                    width: 2rem;
                }
                span{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .total{
        font-family: $fuente_titulos;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
        color: $negro;
        letter-spacing: .1rem;
        h3{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-shadow: -1px -1px 0 $principal, 1px -1px 0 $principal, -1px 1px 0 $principal, 1px 1px 0 $principal;
        }
        span{
            font-size: 3rem;
            text-shadow: none;
            color: $principal;
        }
        @include telefono{
            font-size: 1.2rem;
            span{
                font-size: 2rem;
            }
        }
    }
}

@keyframes slide {
    from{
        left: 120%;
    }
    to{
        left: 70%;
    }
}

@keyframes slideMovile {
    from{
        left: 120%;
    }
    to{
        left: 50%;
    }
}