.filters-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    transition: all .5s ease;
    @include telefono{
        display: grid;
        align-content: center;
        justify-items: center;
        gap: 1.5rem;
    }
    .btn{
        display: flex;
        align-items: center;
        gap: 2rem;
        @include telefono{
            width: 100%;
        }
    }
    .btn-border{
        text-transform: none;
    }
    input{
        background-color: transparent;
        border: none;
        color: $blanco;
        outline: none;
    }
}

.filter-buttons, .order-buttons{
    display: flex;
    align-items: center;
    gap: .5rem;
}

#reload{
    width: 3rem;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        transform: scale(1.1) rotate(80deg);
    }
}

.none.filter{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    height: 0;
    opacity: 0;
    animation: desaparecer .4s ease;
}

.filter, .order{
    @include telefono{
        width: 100%;
    }
}

.order-options{
    display: grid;
    position: relative;
    .options{
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        width: 100%;
    }
    button{
        padding: 1rem 0;
        border: none;
        background-color: $principal;
        cursor: pointer;
        font-family: $fuente_base;
        &:hover{
            background-color: #dbff71;
        }
    }
    &.aparecer{
        button{
            animation: aparecer .4s ease;
        }
    }
    &.none{
        button{
            overflow: hidden;
            height: 0;
            padding: 0;
            animation: desaparecer .4s ease;
        }
    }
}



@keyframes aparecer {
    from{
        height: 0;
        padding: 0;
    }
    to{
        height: auto;
        padding: 1rem 0;
    }
}

@keyframes desaparecer {
    from{
        height: auto;
        padding: 1rem 0;
    }
    to{
        height: 0;
        padding: 0;
    }
}