.header-store{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    background-image: url('../../../images/fondo2.webp');
    background-position: center;
    background-size: cover;
    height: 40rem;
    @include telefono{
        height: 20rem;
    }
    @media (max-width: 400px){
        height: 15rem;
    }
    .column{
        height: 100%;
        display: grid;
        align-content: space-around;
    }
}