.products-container{
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
}
.filters-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .btn{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .btn-border{
        text-transform: none;
    }
    input{
        background-color: transparent;
        border: none;
        color: $blanco;
        outline: none;
    }
}

.products-grid{
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}