.products-container{
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
}

.products-grid{
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0;
    @include telefono{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    @media (max-width: 400px){
        grid-template-columns: repeat(1, 1fr);
    }
}

.pagination{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: $fuente_base;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: $blanco;
    .nextOrPrev{
        border: none;
        img{
            width: 2.5rem;
        }
        &.disabled{
            border: none;
            opacity: .6;
        }
    }
    span{
        border: 1px solid $blanco;
        padding: .5rem 1rem;
        cursor: pointer;
        &.selected{
            border: 1px solid $principal;
        }
        &.disabled{
            border: 1px solid $gris;
            cursor: not-allowed;
        }
        &:hover{
            color: $principal;
        }
    }
    @media (max-width: 480px){
        font-size: 1rem;
        gap: 1rem;
    }
}