//Bases
@import './base/variables';
@import './base/mixins';
@import './base/normalize';
@import './base/globales';

//Layouts
@import './layout/Navbar';
@import './layout/Header';
@import './layout/Offers';
@import './layout/ItemCardHome';