.api-input{
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    h3{
        font-size: 3.5rem;
        margin-top: 0;
        font-family: $fuente_titulos;
        text-shadow: -1px -1px 0 $principal, 1px -1px 0 $principal, -1px 1px 0 $principal, 1px 1px 0 $principal;
        color: $negro;
    }
    p{
        text-align: center;
        width: 46.02rem;
        span{
            color: $principal;
            cursor: pointer;
            text-decoration: underline;
        }
        @include telefono{
            width: 80%;
        }
    }
    .api-form{
        display: flex;
        align-items: center;
        border: 1px solid $principal;
        @include telefono{
            display: grid;
            align-items: center;
        }
        label{
            background-color: rgb(47, 47, 47);
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: $principal;
            font-size: 1.2rem;
            @include telefono{
                font-size: 1rem;
                padding: .5rem;
            }
        }
        input{
            border: none;
            color: $blanco;
            font-size: 1.2rem;
            @include telefono{
                font-size: 1rem;
            }
        }
        .btn-flex{
            display: flex;
            .btn{
                display: flex;
                align-items: center;
                padding: 0 1rem;
                #copy{
                    width: 2rem;
                    margin: .5rem 0;
                    @include telefono{
                        width: 1.5rem;
                    }
                }
                @include telefono{
                    padding: 0 .5rem;
                }
            }
        }
    }
    .response{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        .jsonContainer{
            width: 60%;
            background-color: rgb(43, 43, 43);
            padding: 2rem 4rem;
            height: 40rem;
            overflow: hidden;
            overflow-y: scroll;
            @include telefono{
                padding: 1rem;
                width: 80%;
                font-size: 1rem;
                overflow-x: scroll;
            }
        }
    }
}