.api-input{
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    h3{
        font-size: 2.5rem;
        font-family: $fuente_titulos;
        text-shadow: -1px -1px 0 $principal, 1px -1px 0 $principal, -1px 1px 0 $principal, 1px 1px 0 $principal;
        color: $negro;
    }
    .api-form{
        display: flex;
        align-items: center;
        border: 1px solid $principal;
        label{
            background-color: rgb(47, 47, 47);
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: $principal;
            font-size: 1.2rem;
        }
        input{
            border: none;
            color: $blanco;
        }
        .btn-flex{
            display: flex;
            .btn{
                display: flex;
                align-items: center;
                padding: 0 1rem;
                #copy{
                    width: 2rem;
                    margin: .5rem 0;
                }
            }
        }
    }
    .response{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        .jsonContainer{
            width: 60%;
            background-color: rgb(43, 43, 43);
            padding: 2rem 4rem;
            height: 40rem;
            overflow: hidden;
            overflow-y: scroll;
        }
    }
}