html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background-color: #0e0e0e;
  color: $blanco;
  font-family: $fuente_base;
}

a{
  color: $blanco;
  text-decoration: none;
  &:hover{
    color: $gris;
  }
}

button{
  background-color: transparent;
  border: none;
}

input, textarea{
  background-color: transparent;
  border: 1.5px solid $principal;
  color: $blanco;
  outline: none;
  padding: .5rem;
}

.container{
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
}

.text{
  font-family: $fuente_base;
}

.title{
  font-family: $fuente_titulos;
  color: $principal;
  &.with-borders{
    text-shadow: -1px -1px 0 $principal, 1px -1px 0 $principal, -1px 1px 0 $principal, 1px 1px 0 $principal;
    color: transparent;
  }
}

.modal-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 20;
  &.visible{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn{
  display: block;
  border: none;
  font-family: $fuente_base;
  font-size: 1.3rem;
  font-weight: 900;
  padding: .8rem 3rem;
  cursor: pointer;
  @include tablet{
    font-size: .8rem;
  }
}

.btn-border{
  background-color: transparent;
  border: 2px solid $principal;
  color: $blanco;
  text-transform: uppercase;
  &:hover{
    color: $principal;
  }
}

.btn-background{
  background-color: $principal;
  color: $negro;
  &:hover{
    background-color: #dbff71;
  }
}

.campo{
  display: grid;
  gap: .2rem;
  font-family: $fuente_base;
  font-size: 1.3rem;
}

.alert-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 1s ease;
  animation: up 1s;
  overflow-y: hidden;
}

.alert{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0e0e0e;
  border: 1px solid $principal;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  img{
    width: 1.5rem;
    cursor: pointer;
    margin-left: 2rem;
  }
}
.error{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1rem;
  color: $error;
  transition: all 1s;
  animation: up 1s ease;
}

@keyframes up {
  from{
    top: 40%;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}