@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');

//Fuentes
$fuente_titulos: 'Anton', sans-serif;
$fuente_base: 'Roboto', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 65rem;
$desktop:102.4rem;

//Colores

$principal: #C2FF0A;
$gris: #696969;
$blanco: #F8F9FA;
$negro: #121212;
$success: #85f066;
$warning: #f5d36c;
$error: #f56c6c;